.scrollarea {
    overflow: auto;
}

.link-muted:hover {
    color: RGBA(var(--bs-emphasis-color-rgb), var(--bs-link-opacity, .75)) !important;
}

.editable *[contenteditable] {
    background-color: #191c1f;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 4px;
    margin-left: -3px;
    margin-right: -3px;
}

.list-group-item .icon-edit {
    opacity: 0;
    cursor: pointer;
}

.list-group-item:hover .icon-edit {
    opacity: 0.3;
}

.list-group-item .icon-edit:hover {
    opacity: 0.8;
}

.during-edit .list-group-item .icon-edit,
.list-group-item:not(.owned) .icon-edit {
    display: none;
}

.during-edit .list-group-item.editable .icon-edit {
    display: inline-block;
    opacity: 0.8;
    cursor: default;
}

.entry-buttons {
    margin-bottom: -0.4rem;
    margin-top: 0.2rem;
}

.list-group-item:not(.editable) .entry-buttons {
    display: none !important;
}

.list-group-item.editable.new .entry-buttons *:nth-child(3) {
    display: none !important;
}

.list-group-item select {
    border: none;
    text-align: right;
    border-radius: 4px;
    direction: rtl;
    padding-right: 5px;
    color: white;
}

.list-group-item:not(.editable) select {
    background: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.list-group-item.editable select {
    background-color: #191c1f;
    cursor: pointer;
}

.entry-buttons a {
    cursor: pointer;
}

.editable strong {
    min-width: 5rem;
}

.error {
    animation: error-blink 2.5s;
}

@keyframes error-blink {
    from {
        background-color: rgba(var(--bs-danger-rgb), var(--bs-bg-opacity));
    }

    to {
        background-color: #191c1f;
    }
}

.content {
    width: 100%;
}

body {
    background-color: black;
}

#rated .list-group-item:not(.editable) small {
    display: none;
}

#rated .list-group {
    min-width: 220px;
    position: sticky;
}

.font-italic {
    font-style: italic;
}

.sidebar {
    height: 100vh;
    position: fixed;
    height: 100vh;
    z-index: 20;
}

.spacer,
.sidebar {
    width: 340px;
    min-width: 340px;
}

.dropdown-space {
    margin-top: -1rem !important;
}

.content .container {
    padding-top: 3rem !important;
}

.entry-column-title {
    height: 2.5rem;
    margin-top: 1.5rem;
    position: sticky;
    top: 4.5rem;
    z-index: 20;
}


.content .background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("../images/background.jpg");
    background-position: unset;
    background-size: cover;
    filter: saturate(0.15) brightness(24%);
}

.mask-all {
    clip-path: inset(0px 0px calc(100% - 3rem) 0px);
    z-index: 25;
}

.mask-entries {
    clip-path: inset(0px 0px calc(100% - 7rem) 0px);
    z-index: 15;
}